{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Благодарим за использование сервиса!
{% endblock %}

{% block content %}
    <div class="container" align='center'>
    <h1>Спасибо, что Вы с нами!</h1>

        <h4 align='center' class='form-text text-muted'>Пожалуйста, подпишитесь на нашего телеграм бота. По готовности ролика бот пришлет вам ссылку на его скачивание. При регистрации в боте - введите тот же email, что указывали при оплате и в этой форме.</h4>
         <p><a href="https://web.telegram.org"><img src="../static/img/telegram.png" width="50" 
   height="50" alt="Пример"></a></p>
    </div>
{% endblock %}

    
